---
import GlobalLayout from "../../layouts/GlobalLayout.astro"
---
<GlobalLayout>
    <div class="font-sans">
        On Pacific Street is a concert series in a living room.
    </div>
</GlobalLayout>