---
import GlobalLayout from "../../../../layouts/GlobalLayout.astro";
import PerformancesEmbed from "../../../../components/PerformancesEmbed.astro";
import performances from "../../../../data/videos/full-performances.json";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>On Pacific Street</title>
	</head>
	<body>
		<GlobalLayout>
			{performances
				.filter(item => item.id == "julian")
				.map(item => (
					<PerformancesEmbed link={item.youtubeLink} artistName={item.artistName} />
				))}
		</GlobalLayout>
	</body>
</html>
