---
import GlobalLayout from "../../layouts/GlobalLayout.astro"
---
<GlobalLayout>
    <div class="font-sans">
        <p>
            instagram: <a href="https://www.instagram.com/onpacificstreet/">@onpacificstreet</a>
        </p>
        <p>
            email: onpacificstreet@gmail.com
        </p>
    </div>
</GlobalLayout>