---
import GlobalLayout from "../../layouts/GlobalLayout.astro"
---
<GlobalLayout>
    Get in touch:

    instagram: <a href="https://www.instagram.com/onpacificstreet/">@onpacificstreet</a>
    email: onpacificstreet@gmail.com
    website: <a href="https://onpacificstreet.com">onpacificstreet.com</a>
</GlobalLayout>