---
const currentPath = Astro.url.pathname;
---
<nav class="w-full">
    <div class="flex flex-col items-center justify-center py-8">
        <a href="/">
            <div class="flex justify-center w-full">
                <div class="flex flex-col w-[50%] items-center">
                    <div class="w-[67%]">
                    <img src="/images/doodles/on-pacific-st@4x.png" class="mx-auto" />
                    </div>
                    
                    <img src="/images/doodles/line@4x.png" class="mx-auto" />
                </div>
            </div>
        </a>
        <ul class="flex flex-row justify-between font-semibold text-xs font-sans mt-4 w-[25%] min-w-[300px]">
            <!-- <li class="px-2"><a href="/" class={`hover:underline ${currentPath === '/' ?  'underline' : ''}`}>HOME</a></li> -->
            <li class="px-2"><a href="/full-performances" class={`hover:underline ${currentPath === '/full-performances' ?  'underline' : ''}`}>FULL PERFORMANCES</a></li>
            <li class="px-2"><a href="/about" class={`hover:underline ${currentPath === '/about' ?  'underline' : ''}`}>ABOUT</a></li>
            <li class="px-2"><a href="/get-in-touch" class={`hover:underline ${currentPath === '/get-in-touch' ?  'underline' : ''}`}>GET IN TOUCH</a></li>
        </ul>
    </div>
</nav>
