<nav class="justify-center p-4">
    <div class="justify-center">
        <div class="justify-center flex flex-row">
            <img src="/images/doodles/asterisk-4.png" />
            <img src="/images/doodles/cursive.png" />
            <img src="/images/doodles/asterisk-4.png" />
        </div>
        
        <ul class="flex space-x-4 text-lg font-normal justify-center">
        <li><a href="/" class="hover:underline">Home</a></li>
        <li><a href="/performances" class="hover:underline">Performances</a></li>
        <li><a href="/about" class="hover:underline">About</a></li>
        <li><a href="/get-in-touch" class="hover:underline">Get in touch</a></li>
        </ul>
    </div>
  </nav>
  