---
import YouTubeEmbed from "./YouTubeEmbed.astro";

const { item } = Astro.props;

---
<div class="pt-8">
    <p class="mt-4 text-center text-xl font-bold">
        {item.artistName} - {item.date}
    </p>
    <YouTubeEmbed link={item.link} />
    
</div>