---
import YouTubeEmbed from "./YouTubeEmbed.astro";

const { item } = Astro.props;

---
<div class="pt-8">
    <p class="mt-4 text-center font-bold text-xl">
        {item.artistName} - {item.songTitle}
    </p>
    <YouTubeEmbed link={item.youtubeLink} />
    {item.fullPerformanceLink && (
         <div class="text-center text-xl p-4">
            <div>
                <a class="underline" href={item.fullPerformanceLink}>Full Performance</a>
            </div>
        </div>
    )}
</div>