---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
---
<html>
  <head>
    <link rel="stylesheet" href="/styles/global.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <title>On Pacific Street</title>
  </head>
  <body>
    <Navbar />
    <div class="flex flex-col items-center">
      <div class="flex flex-row justify-between w-full relative">
        <!-- Doodle Col Left -->
        <div class="flex flex-col w-[20%] items-center fixed top-100 left-0 h-full">
          <div class="flex flex-row">
            <div class="w-[25%]"></div>
            <div class="w-[33%]">
              <img src="/images/doodles/star-1@4x.png" />
            </div>
          </div>
          <div class="h-[28%]"></div>
          <div class="flex flex-row">
            <div class="w-[45%]"></div>
            <div class="w-[33%]">
              <img src="/images/doodles/circle@4x.png" />
            </div>
          </div>
        </div>
        <!-- End Doodle Col Left -->
        
        <!-- Page Content -->
        <div class="flex flex-col min-w-[200px] w-[60%] mx-auto relative">
          <slot />
        </div>
        <!-- End Page Content -->
        
        <!-- Doodle Col Right -->
        <div class="flex flex-col w-[20%] fixed top-100 right-0 h-full">
          <div class="h-[10%]"></div>
          <div class="flex flex-row">
            <div class="w-[50%]"></div>
            <div class="w-[33%]">
              <img src="/images/doodles/house@4x.png" />
            </div>
          </div>
          <div class="h-[28%]"></div>
          <div class="flex flex-row">
            <div class="w-[30%]"></div>
            <div class="w-[33%]">
              <img src="/images/doodles/star-2@4x.png" />
            </div>
          </div>
        </div>
        <!-- End Doodle Col Right -->
      </div>
      <img class="w-[67%] pt-8 pb-4" src="/images/doodles/line-2@4x.png" />
    </div>
  </body>
</html>
